@import "tailwindcss";

@theme {
    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;

    --color-brand-primary: #a68a64;
    --color-brand-secondary: #e5e5e5;
    --color-brand-dark: #1e1e1e;
    --color-brand-light: #f2f2f2;
}

@layer base {
    html.lenis {
        height: auto;
    }

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
        overflow: hidden;
    }

    .lenis.lenis-scrolling iframe {
        pointer-events: none;
    }

    body {
        @apply bg-brand-light text-brand-dark font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}
